html {
	margin: 0;
	background-color: #FEFEFE;
}

.overlay {
    margin: auto;
    top: 50%;
    left: 50%;
    background: #C6C6C6;
    font-family: 'DIN Offc Pro Medium', Arial, Regular;
    overflow: auto;
    border-radius: 3px;
    padding: 10px;
}

#box {
    top: 0;
    height: 135px;
    margin-top: 22px;
    width: 345px;
}

h2 {margin: 0px;
    font-size: 18px;
    text-align: left;
    font-family: 'DIN Offc Pro Medium', Arial, Regular;
    color: #ffffff
}
h3 {margin: 0px;
    font-size: 13px;
    text-align: left;
    font-family: 'DIN Offc Pro Medium', Arial, Regular;
    color: #BED8D4;
}
