html {
	margin: 0;
	background-color: #F9F7F4;
}

#box {
	height: 8.5em;
	width: 23em;
	margin: auto;
	margin-top: 15%;
	background: #202020;
	padding: 0.5em;
	border-radius: .3em;
}

h2 {margin: 0px;
    font-size: 13px;
    line-height:20px;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: 300
}

h3 {margin: -1px;
    font-size: 13px;
    line-height:20px;
    text-align: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #C84630;
    font-weight: 300;
}
